.ant-layout-header {
  background: #1890ff;
}

.ant-layout-header h1 a {
  color: #fff;
}

.ant-layout-content {
  max-width: 800px;
  margin: auto;
  margin-top: 3rem;
  width: 100%;
  height: 100vh;
}
